SDSS/jsp/sdss.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://research.sun.com/wadl/2006/10">
    <doc xmlns:jersey="http://jersey.dev.java.net/" jersey:generatedBy="Jersey: 1.3 06/17/2010 04:53 PM"/>
    <resources base="http://127.0.0.1:8080/SDSS/">
        <resource path="/rest">
                <method id="service" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="userid" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="password" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="format" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="method" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="start" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="rows" style="query" type="xs:int"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
        </resource>
        <resource path="/hello">
            <method id="sayXMLHello" name="GET">
                <response>
                    <representation mediaType="text/xml"/>
                </response>
            </method>
            <method id="sayHtmlHello" name="GET">
                <response>
                    <representation mediaType="text/html"/>
                </response>
            </method>
            <method id="sayPlainTextHello" name="GET">
                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <method id="getChildren" name="GET">
                    <response>
                        <representation mediaType="application/xml"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
        </resource>
    </resources>
</application>